#!/usr/bin/env bash
{{!
  Based on https://github.com/chriskempson/base16-builder/blob/master/templates/mate-terminal/dark.sh.erb
}}
# Base16 {{scheme-name}} - Mate Terminal color scheme install script
# {{scheme-author}}

[[ -z "$PROFILE_NAME" ]] && PROFILE_NAME="Base 16 {{scheme-name}} 256"
[[ -z "$PROFILE_SLUG" ]] && PROFILE_SLUG="base-16-{{scheme-slug}}-256"
[[ -z "$DCONFTOOL" ]] && DCONFTOOL=dconf
[[ -z "$BASE_KEY" ]] && BASE_KEY=/org/mate/terminal/profiles

PROFILE_KEY="$BASE_KEY/$PROFILE_SLUG"

dset() {
  local key="$1"; shift
  local val="$1"; shift

  "$DCONFTOOL" write "$PROFILE_KEY/$key" "$val"
}

# Because gconftool doesn't have "append"
glist_append() {
  local key="$1"; shift
  local val="$1"; shift

  local entries="$(
    {
      "$DCONFTOOL" read "$key" | tr -d '[]' | tr , "\n" | fgrep -v "$val"
      echo "'$val'"
    } | head -c-1 | tr "\n" ,
  )"

  "$DCONFTOOL" write "$key" "[$entries]"
}

dset visible-name "'$PROFILE_NAME'"
dset palette "'#{{base00-hex}}:#{{base08-hex}}:#{{base0B-hex}}:#{{base0A-hex}}:#{{base0D-hex}}:#{{base0E-hex}}:#{{base0C-hex}}:#{{base05-hex}}:#{{base03-hex}}:#{{base08-hex}}:#{{base0B-hex}}:#{{base0A-hex}}:#{{base0D-hex}}:#{{base0E-hex}}:#{{base0C-hex}}:#{{base07-hex}}'"
dset background-color "'#{{base00-hex}}'"
dset foreground-color "'#{{base05-hex}}'"
dset bold-color "'#{{base05-hex}}'"
dset bold-color-same-as-fg "true"
dset use-theme-colors "false"
dset use-theme-background "false"

# Append the Base16 profile to the profile list
glist_append /org/mate/terminal/global/profile-list "$PROFILE_SLUG"

unset PROFILE_NAME
unset PROFILE_SLUG
unset DCONFTOOL
unset BASE_KEY
unset PROFILE_KEY
